


<% if current_user %>
  <% if @search || @location%>

    <% if @response[:data] %>
    <div class="slider" value = <%= current_user.id %>>
      <% id=0 %>
      <% @response[:data].each do |photo| %>
        <% id +=1 %>
        <%= image_tag(photo[:images][:standard_resolution][:url], id: id, class: "instagram-image img-rounded") %>
      <% end %>
    </div>
    <% else %>
      <%= "Your search returned nothing :(" %>
    <% end %>

  <% else %>
    <% @response = @insta_api.selfie(current_user.token)  %>
    <div class="slider" value = <%= current_user.id %>>
      <% id=0 %>
      <% @response[:data].each do |photo| %>
        <% id +=1 %>
        <%= image_tag(photo[:images][:standard_resolution][:url], id: id, class: "instagram-image img-rounded") %>
      <% end %>
    </div>
  <% end %>
<% else %>


    <div class="banner">
      <div class="signO">
        <%= link_to sign_in_path do %>
          <%= image_tag("instagramlogo.png") %>
        <% end %>
      </div>

      <% id=0 %>
      <% @response[:data].each do |photo| %>
        <% id +=1 %>
        <%= image_tag(photo[:images][:standard_resolution][:url], id: id, class: "instagram-image img-rounded") %>
      <% end %>
    </div>
  <% end %>

<% end %>
